USE [DIIG]
GO
/****** Object:  StoredProcedure [Vendor].[SP_HeadquarterCodeUnlabeledToInvestigateContractOrderFast]    Script Date: 3/16/2017 12:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Greg Sanders
-- Create date: 2013-03-13
-- Description:	List the top unlabeled DUNSnumbers
-- =============================================
CREATE PROCEDURE [Vendor].[SP_HeadquarterCodeUnlabeledToInvestigateContractOrderFast]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		SELECT top 1000 min(D.[fiscalyear]) as  MinFiscalYear
		,max(D.[fiscalyear]) as  MaxFiscalYear
		,D.HeadquarterCode
      ,sum(D.[ConstantObligatedBillions]) as SumOfConstantObligatedBillions
	  ,sum(D.ConstantFedFundedBillions) as SumOfConstantFedFundedBillions
	  ,sum(D.ConstantTotalBillions) as SumOfConstantTotalBillions
	  ,max(D.ConstantTotalBillions) as MaxOfConstantTotalBillions
	  ,sum(iif(d.fiscalyear in (1990,1991,1992,1993,1994,1995,1996,2014),D.ConstantTotalBillions,0)) as TargetYearsSumOfConstantTotalBillions
      ,dtpch.StandardizedTopContractor
		,d.HeadquarterCodeparentidsuggestion
	FROM Contractor.DunsnumbersToInvestigateFast as D
	inner join contractor.DunsnumberToParentContractorHistory as DTPCH
		on DTPCH.FiscalYear=d.fiscalyear and DTPCH.DUNSNumber=d.HeadquarterCode
		left outer join (select 
		sum(iif(len(dunsnumber)<=9,obligatedamount,0))/def.GDPdeflator as AnnualObligated
		,sum(iif(len(dunsnumber)<=9,obligatedamount,0))/def.GDPdeflator/1000 as TenthOnePercent
		,FiscalYear
		from contractor.DunsnumberToParentContractorHistory 
		inner join Economic.Deflators as def
			on FiscalYear=def.Fiscal_Year
		where fiscalyear>=1990
		group by fiscalyear, def.GDPdeflator
	) ao
	on dtpch.FiscalYear=ao.fiscalyear
	where d.HeadquarterCodeparentidsuggestion is null
		and d.HeadquarterCode is not null
	group by
      D.HeadquarterCode
	        ,dtpch.StandardizedTopContractor
		,d.HeadquarterCodeparentidsuggestion 
		--,ao.TenthOnePercent
	having max(D.ConstantObligatedBillions)>=0.25 or
		max(iif(D.ConstantObligatedBillions>=ao.TenthOnePercent/1000000000,1,0))=1 or
	 sum(D.ConstantObligatedBillions)>=1
	 
	Order by max(d.ConstantObligatedBillions) desc
	


END













GO
