USE [DIIG]
GO
/****** Object:  View [Vendor].[NewEntrantParentIDorDunsNumberBucketCustomer]    Script Date: 3/16/2017 12:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [Vendor].[NewEntrantParentIDorDunsNumberBucketCustomer]
AS

SELECT 
F.fiscal_year
,isnull(DUNS.ParentID,F.dunsnumber) as ParentIDorDunsNumber
,F.dunsnumber
,DUNS.ParentID
,A.Customer
,A.SubCustomer
,PSC.ProductServiceOrRnDarea
,PSC.Simple
,PSC.RnD_BudgetActivity
,F.obligatedamount
, CASE
	WHEN parent.Top6=1 and parent.JointVenture=1
	THEN 'Large: Big 5 JV'
	WHEN Top6=1
	THEN 'Large: Big 5'
	WHEN parent.LargeGreaterThan3B=1
	THEN 'Large'
	WHEN Parent.IsPreTop6=1
	THEN 'Large: Pre-Big 5'
	WHEN AlwaysIsSmall=1
	THEN 'Always Small'
	WHEN AlwaysIsSmall=0 and AnyIsSmall=1
	THEN 'Sometimes Small'
	when parent.UnknownCompany=1
	Then 'Unlabeled'
	ELSE 'Medium'
END AS VendorSize
,NEduns.MinOfFiscal_Year as DunsMinOfFiscal_Year
,NEparentID.MinOfFiscal_Year as ParentMinOfFiscal_Year
,iif(duns.ParentID is null,
	iif(NEduns.MinOfFiscal_Year=F.Fiscal_Year , 1,0),
	iif(NEparentID.MinOfFiscal_Year=F.Fiscal_Year, 1,0)) as FirstFYinDataset
,iif(duns.ParentID is null,
	iif(NEduns.MinOfFiscal_Year=F.Fiscal_Year , NEduns.MaxOfObligatedAmount,NULL),
	iif(NEparentID.MinOfFiscal_Year=F.Fiscal_Year, NEparentID.MaxOfObligatedAmount,NULL)) as MaxParentIDorDunsNumberTransaction

	

FROM Contract.fpds AS F
LEFT JOIN FPDSTypeTable.AgencyID AS A
ON A.AgencyID = F.contractingofficeagencyid
LEFT JOIN FPDSTypeTable.ProductOrServiceCode AS PSC
ON PSC.ProductOrServiceCode = F.productorservicecode
LEFT JOIN Contractor.DunsnumberToParentContractorHistory AS DUNS
ON DUNS.DUNSnumber = F.dunsnumber AND DUNS.FiscalYear = F.fiscal_year
left outer join Contractor.ParentContractor as Parent
on duns.ParentID=parent.ParentID
left outer join (
	SELECT 
	F.dunsnumber
	--,DUNS.ParentID
	,min(F.fiscal_year) as MinOfFiscal_Year
	,A.Customer
	--,A.SubCustomer
	,PSC.ProductServiceOrRnDarea
	--,PSC.Simple
	,sum(F.obligatedamount) as SumOfObligatedAmount
	,max(F.obligatedamount) as MaxOfObligatedAmount
	FROM Contract.fpds AS F
	LEFT JOIN FPDSTypeTable.AgencyID AS A
	ON A.AgencyID = F.contractingofficeagencyid
	LEFT JOIN FPDSTypeTable.ProductOrServiceCode AS PSC
	ON PSC.ProductOrServiceCode = F.productorservicecode
	LEFT JOIN Contractor.DunsnumberToParentContractorHistory AS DUNS
	ON DUNS.DUNSnumber = F.dunsnumber AND DUNS.FiscalYear = F.fiscal_year
	LEFT OUTER JOIN Economic.Deflators AS D
	ON D.Fiscal_Year = F.fiscal_year
	where F.obligatedamount/D.GDPdeflator >=3500
	and ParentID is null
	GROUP BY
	F.dunsnumber
	--,DUNS.ParentID
	,A.Customer
	--,A.SubCustomer
	,PSC.ProductServiceOrRnDarea
	--,PSC.Simple

) as NEduns
on  f.dunsnumber=NEduns.DunsNumber
and A.Customer=NEduns.Customer
--and A.SubCustomer = NEduns.SubCustomer
--and PSC.Simple = NEduns.Simple
and PSC.ProductServiceOrRnDarea = NEduns.ProductServiceOrRnDarea
and duns.ParentID is null



left outer join (SELECT 
	--fiscal_year,
	DUNS.ParentID
	,min(F.fiscal_year) as MinOfFiscal_Year
	,A.Customer
	--,A.SubCustomer
	--,PSC.Simple
	,psc.ProductServiceOrRnDarea
	,sum(F.obligatedamount) as SumOfObligatedAmount
	,max(F.obligatedamount) as MaxOfObligatedAmount

	FROM Contract.fpds AS F
	LEFT JOIN FPDSTypeTable.AgencyID AS A
	ON A.AgencyID = F.contractingofficeagencyid
	LEFT JOIN FPDSTypeTable.ProductOrServiceCode AS PSC
	ON PSC.ProductOrServiceCode = F.productorservicecode
	LEFT JOIN Contractor.DunsnumberToParentContractorHistory AS DUNS
	ON DUNS.DUNSnumber = F.dunsnumber AND DUNS.FiscalYear = F.fiscal_year
	LEFT OUTER JOIN Economic.Deflators AS D
	ON D.Fiscal_Year = F.fiscal_year

	where F.obligatedamount/D.GDPdeflator >=3500

	GROUP BY
	--F.fiscal_year,
	DUNS.ParentID
	,A.Customer
	--,A.SubCustomer
	--,PSC.Simple
	,PSC.ProductServiceOrRnDarea
	--,D.GDPdeflator
	) NEparentID
on DUNS.ParentID=NEparentID.ParentID
and A.Customer=NEparentID.Customer
--and A.SubCustomer = NEduns.SubCustomer
--and PSC.Simple= NEparentID.Simple
and PSC.ProductServiceOrRnDarea = NEparentID.ProductServiceOrRnDarea




--GROUP BY
--F.fiscal_year
--,F.dunsnumber
--,DUNS.ParentID
--,A.Customer
--,A.SubCustomer
--,PSC.ProductServiceOrRnDarea
--,PSC.Simple
--,PSC.RnD_BudgetActivity
--,iif(duns.ParentID is null,NEduns.FirstYear,NEparentID.FirstYear)
--,isnull(DUNS.ParentID,F.dunsnumber)





GO
